# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables (rahasia! password DB, API key, dll)
.env

# Foto yang diupload user
stored-faces/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db